body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #f1f1f1;
  background-color: #000;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffd700;
  color: #000;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

#navbar a {
  color: #000;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #ffd700;
  text-align: center;
}

h1, h2 {
  color: #FFD700; /* Yellow */
}

h2 {
  border-bottom: 2px solid #FFD700; /* Yellow underline */
  padding-bottom: 5px;
}

p,
ul {
  color: #f1f1f1;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.project-tile {
  margin-bottom: 20px;
  text-align: center;
}

.project-tile img {
  border-radius: 8px;  
  width: 100%;   
  max-width: 300px;  
}

.project-tile h3 {
  color: #FFD700;    
}

.project-tile p {
  color: #f1f1f1;    
}

.project-tile a {
  color: #FFD700;        
  text-decoration: none;
  font-weight: bold;
}

.project-tile a:hover {
  text-decoration: underline;
}

#social-links a {
  color: #FFD700;
  margin: 0 10px;
  text-decoration: none;
}

#contact-form {
  margin-top: 20px;
}

#contact-form label {
  display: block;
  margin: 10px 0 5px;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #FFD700;
  border-radius: 4px;
  background-color: #333;
  color: #f1f1f1;
}

#contact-form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #FFD700; /* Yellow */
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #FFC107; /* Lighter Yellow */
}

@media (max-width: 600px) {
  #navbar {
      font-size: 14px;
  }
}
